<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome do pet</label>
      <input type="text" class="form-control" required [(ngModel)]="pet.nome" name="petNome">
    </div>

    <div class="form-group">
      <label for="name">Sexo do pet</label>
      <select class="form-control" required [(ngModel)]="pet.sexoPet" name="sexoPet">
        <option value="M">Macho</option>
        <option value="F">Femea</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Tipo do pet</label>
      <select class="form-control" required [(ngModel)]="pet.tipoPet" name="tipoPet">
        <option value="Gato">Gato</option>
        <option value="Cachorro">Cachorro</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Pet castrado</label>
      <select class="form-control" required [(ngModel)]="pet.castrado" name="castrado">
        <option value="true">Sim</option>
        <option value="false">Não</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Foto do pet</label>
      <input type="text" placeholder="Insira a URL da foto."
        class="form-control" required [(ngModel)]="pet.imageUrl" name="imageUrl">
    </div>

    <button type="submit" class="btn btn-success">Cadastrar</button>
  </form>
</div>
